* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/cartoon_amazon1.jpg");
  background-size: contain;
  min-width: 99vw;
  background-size: 145rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 99vh;
  overflow: hidden;
  font-family: "Optima", sans-serif, "Perpetua", serif;
  color: #faebd7;
}

button {
  padding: 0.8rem 2rem;
  border-radius: 7px;
  border: 2px solid #2c5e1b;
  color: #2c5e1b;
  background-color: #faebd7;
  box-shadow: 3px 3px 7px #263d2d;
  font-weight: 600;
  font-size: 1rem;
  transform: translateY(4px);
}

.body_wrapper {
  background-color: #84b87a94;
  box-shadow: 3px 3px 10px #2e5526;
  border-radius: 10px;
  border: 2px solid #faebd7af;
  max-width: 60rem;
  padding: 3rem 3rem 5rem;
  margin: 3rem;
}

.header_wrapper {
  flex-direction: row;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem 0rem;
}

.title,
.switch_to_dark {
  display: flex;
}

.switch_to_dark {
  border: 2px solid #7eacf2;
  color: #91baf7;
  background-color: #1d2e6f;
  box-shadow: 3px 3px 7px #263d2d;
}

.title {
  font-size: 4rem;
}

.description_section {
  display: flex;
  flex-wrap: nowrap;
  margin: 2rem 3rem;
  font-size: 1.5rem;
}

.timer_wrapper {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}

.btns_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.start_btn,
.reset_btn {
  margin: 1.5rem 1rem 3rem;
}

.board_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.playboard,
.score_list {
  margin: 1rem;
}

.playboard {
  border-radius: 10px;
  border: 2px solid #faebd7;
  background-color: #263d2d;
  box-shadow: 3px 3px 7px #263d2d;
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

/* Game settings */

.playboard .food {
  background-color: #ff003d;
}

.playboard .head {
  background-color: rgb(193, 255, 7);
}

.playboard .bomb {
  background-color: #391d04;
}

.score_list {
  width: 15rem;
  height: 30rem;
  background-color: #faebd7;
  box-shadow: 3px 3px 7px #263d2d;
  border: 2px solid #2c5e1b;
  color: #2c5e1b;
  border-radius: 10px;
}

.score_list h3 {
  text-align: center;
  margin: 1rem;
}

.score_list ul {
  margin: 1rem 2rem;
}

.score_list li {
  list-style: none;
  margin: 0.5rem 0rem;
}

/* Switch to Night */

.dark {
  background-image: url("images/cartoon_night_amazon.jpg");
  color: #9ec3f9;
}

.dark .body_wrapper {
  background-color: #1d2d6f90;
  box-shadow: 3px 3px 10px #1d2e6f;
  border: 2px solid #588ad5;
}

.dark .switch_to_dark {
  box-shadow: 3px 3px 7px #1d2e6f;
  border: 2px solid #2c5e1b;
  color: #2c5e1b;
  background-color: #faebd7;
  padding: 0.8rem 2.2rem;
}

.dark .start_btn {
  border: 2px solid #7eacf2;
  color: #91baf7;
  background-color: #1d2e6f;
  box-shadow: 3px 3px 7px #1d2e6f;
}

.dark .reset_btn {
  border: 2px solid #7eacf2;
  color: #91baf7;
  background-color: #1d2e6f;
  box-shadow: 3px 3px 7px #1d2e6f;
}

.dark .playboard {
  background-color: #041139;
  box-shadow: 3px 3px 7px #1d2e6f;
  border: 2px solid #588ad5;
}

.dark .score_list {
  background-color: #1d2e6f;
  box-shadow: 3px 3px 7px #1d2e6f;
  border: 2px solid #588ad5;
  color: #91baf7;
}

.day .switch_to_dark {
  border: 2px solid #11922d;
  color: #2c5e1b;
  background-color: #faebd7;
}

.day {
  border: 2px solid #11922d;
  color: #2c5e1b;
  background-color: #faebd7;
}
